name: CI

on: [push, pull_request]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: build
      run: |
        git clone --depth 1 --quiet --single-branch https://github.com/vlang/v.git /tmp/v
        make -C /tmp/v
        /tmp/v/v doctor
        /tmp/v/v -cc tcc py2v.v -o py2v
    - name: check format
      run: /tmp/v/v fmt -verify ./
    - name: test
      run: |
        ./test.sh
    - name: upload artifact
      run: echo "uploading artifact"
      uses: actions/upload-artifact@v2
      with:
        name: py2v
        path: py2v
